*{
 box-sizing: border-box;
}
h1{
	text-align:center;
	margin-bottom: 20px;
}
div{
	max-width:30%;
	display: inline-block;
	padding:5px;
	background-color:gray;
	border:solid 1px;
	}
.ex1 {
	display:block;
	text-align: center;
	background-color:#ffc2c2;
	border:solid 1px; 
}
.ex2 {
	display:block;
	text-align: center;
	border: black solid 1px;
	background-color:red;
	color: white;		 
}
.ex3 {
	display:block;
	text-align: center;
	background-color:#F0E68C;	
	border:solid 1px; 
}

